*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#listado-blogs{
    background-color: aqua;
    padding: 20px;
    display: flex;
}

#miniStrapi{
    margin: 10px;
    padding: 20px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 500px;
}
.tituloStrapi{
    font-size: 25px;
}
.resumenStrapi{
    font-size: 20px
}